.container {
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	background-color: rgb(44, 36, 77);
	color: white;
}

.sidebar {
	grid-column: 1/2;
}

.logo {
	grid-column: 2/6;
}

.time {
	grid-column: 6/10;
	margin: auto;
	font-size: 2em;
}
